.site-header {
  height: 400px;
  width: 100%;
  background-color: #ff9900;
  background-image: url("../images/concrete-wall-2.png");
}

.site-header img {
  display: block;
  margin: 90px auto 0 auto;
}

.site-header h2 {
  text-align: center;
  margin-top: 0px;
  color: white;
  font-weight: normal
}

.logo {
  float: left;
}
.container-for-tweet {
  float: right;
  text-align: center;
  position: relative;
  top: -18px;
}
.CTA {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
}
.arrow-button {
  color: #be520a;
  font-size: 35px;
  
}
.arrow-button:hover {
  color: rgb(59, 61, 160); 
  position: relative;
  top: -5px;
}
@media only screen and (min-width: 1024px) {
  .site-header {
    float: left;
    width: 28%;
    height: 450px;
    margin: 3%;
    margin-top: 12.5%;
    border-radius: 20px;
  }
}