.site-header {
  height: 400px;
  width: 100%;
  background-color: #ff9900;
  background-image: url("../images/concrete-wall-2.png");
}

.site-header img {
  display: block;
  margin: 90px auto 0 auto;
}

.site-header h2 {
  text-align: center;
  margin-top: 0px;
  color: white;
}

.logo {
  float: left;
}
.CTA {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

