nav {
  display: block;
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  font-family: 'Bungee', cursive;
 }

 /* Tablet: minimum width of 768px to maximum width of 1024px */
 @media only screen and (min-width: 768px) and (max-width: 1023px){
   nav{
  background-color:  #ff9900;
  background-image: url("../images/concrete-wall-2.png");
 }
}