@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.isa_error {
  margin: 10px 0px;
  padding:12px;
  }
.isa_error {
  color: rgb(190, 25, 33);
  background-color: #FFD2D2;
  }
.isa_error i {
  margin:10px 22px;
  font-size:2em;
  vertical-align: middle;
  }
form textarea {
  color: rgb(65, 63, 63);
  background: transparent;
  border: 0;
  border-bottom: 5px solid rgb(65, 63, 63);
  width: 100%;
}

form textarea::placeholder {
  font-weight: bold;
  color: rgb(65, 63, 63);
}

form input {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;
  border-radius: 5px;
}

.counter {
  color: rgb(65, 63, 63);
  font-family: 'Bungee', cursive;
  float: right;

}
